@charset "UTF-8";
#contain{ 
  
     position: relative;
  
 }
 
 
#input table{
	background:beige;
    padding: 10px ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}